<plugin name='ozone-auditing' version='1.2.1' grailsVersion='1.3.7 &gt; *'>
  <author>OZONE Team</author>
  <authorEmail>goss-support@owfgoss.org</authorEmail>
  <title>OZONE Auditing plugin</title>
  <description>\
Common auditing components.
</description>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ozoneplatform.auditing.format.cef.util.EscapedStringUtil</resource>
    <resource>org.ozoneplatform.auditing.util.AuditingUtil</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>