<plugin name='codenarc' version='0.17' grailsVersion='1.3 &gt; *'>
  <author>Chris Mair</author>
  <authorEmail>chrismair@users.sourceforge.net</authorEmail>
  <title>CodeNarc plugin</title>
  <description>Runs CodeNarc static analysis rules for Groovy source.</description>
  <documentation>http://grails.org/plugin/codenarc</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>