!.gitkeep

.gradle/
build/
bin/

/src/main/resources/public/js/*
/src/main/resources/public/js-plugins/*
/src/main/resources/public/vendor/*

# logs
/stacktrace.log
/test/reports
/logs

# "temporary" files
/staging
/build-base*
target
/build.number
/cobertura.ser
/work
/bin
/target-eclipse
/prodDb.properties
/prodDb.log
/prodDb.bak
test-widgets/html-widgets/src/main/webapp/images/dragAndDrop/
test-widgets/html-widgets/src/main/webapp/js-lib/
test-widgets/html-widgets/src/main/webapp/js/
/src/assemble/docs/jsdoc/

### JetBrains (IntelliJ)
.idea/

### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini

### Mac OS
# General
*.DS_Store
.AppleDouble
.LSOverride
._*

### Eclipse files
.classpath
.project
.settings/

### JGIT CAC files
RITE_server_public/
agent.jar
card.config
jgit-cli-2.3-20130108.jar
jgit.cac.sh
jgit.unix.sh
jssecacerts
mscapi-agent-option/
pkcs11.config
