<plugin name='ozone-appconfig' version='0.9' grailsVersion='1.3.7 &gt; *'>
  <author>OZONE Team</author>
  <authorEmail>goss-support@owfgoss.org</authorEmail>
  <title>OZONE AppConfig plugin</title>
  <description>\
Common AppConfig components for OWF and Marketplace.
</description>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ozoneplatform.appconfig.client.controller.AbstractApplicationConfigurationController</resource>
    <resource>org.ozoneplatform.appconfig.server.domain.model.ApplicationConfiguration</resource>
    <resource>org.ozoneplatform.appconfig.server.persistence.impl.ApplicationConfigurationHibernateRepositoryImpl</resource>
    <resource>org.ozoneplatform.appconfig.server.service.impl.ApplicationConfigurationServiceImpl</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>