/* --- override x-panel styles 
----------------------------------------------------------------------------------------- */
.examplesBody{
	background-color:#ffffff;
}

.widgetContents .x-panel{
	border-style:solid;
	border-color:#ff0000;
	border-width:0;
	}

.widgetContents .x-panel-header{
	overflow:hidden;
	zoom:1;
	color:#4f4f4f;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	padding:5px 3px 4px 5px;
	border:0px solid #99bbe8;
	line-height:15px;
	/* background:transparent url(../images/default/panel/white-top-bottom.gif) repeat-x 0 -1px; */
	background-image:none;
	background-color:#ffffff;
	text-decoration:underline;
}

.widgetContents .x-panel-body{
	border:0px;
	overflow:hidden;
	background:white;
	position:relative;
}

.widgetFormInput, textarea {
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#212121;
	border:1px solid #4f4f4f;
	vertical-align:text-top;
}

.chanName {
	vertical-align:middle;
}

.msgName {
	vertical-align:text-top;
}

.x-panel-bbar .x-toolbar{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}

.x-panel-tbar .x-toolbar{border:1px solid #99bbe8;border-top:0 none;overflow:hidden;padding:2px;}

.x-panel-tbar-noheader .x-toolbar,.x-panel-mc .x-panel-tbar .x-toolbar{border-top:1px solid #99bbe8;border-bottom:0 none;}

.x-panel-body-noheader,.x-panel-mc .x-panel-body{border-top:1px solid #99bbe8;}

.x-panel-header{overflow:hidden;zoom:1;}

.x-panel-tl .x-panel-header{
	color:#15428b;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	padding:5px 0 4px 0;
	border:0 none;
	background:transparent;
}

.x-panel-tl .x-panel-icon,.x-window-tl .x-panel-icon{padding-left:20px!important;background-repeat:no-repeat;background-position:0 4px;zoom:1;}

.x-panel-inline-icon{width:16px;height:16px;background-repeat:no-repeat;background-position:0 0;vertical-align:middle;margin-right:4px;margin-top:-1px;margin-bottom:-1px;}

.x-panel-tc{background:transparent url(../images/default/panel/top-bottom.gif) repeat-x 0 0;overflow:hidden;}

.ext-strict .ext-ie7 .x-panel-tc{overflow:visible;}

.x-panel-tl{background:transparent url(../images/default/panel/corners-sprite.gif) no-repeat 0 0;padding-left:6px;zoom:1;border-bottom:1px solid #99bbe8;}

.x-panel-tr{background:transparent url(../images/default/panel/corners-sprite.gif) no-repeat right 0;zoom:1;padding-right:6px;}

.x-panel-bc{background:transparent url(../images/default/panel/top-bottom.gif) repeat-x 0 bottom;zoom:1;}

.x-panel-bc .x-panel-footer{zoom:1;}

.x-panel-bl{background:transparent url(../images/default/panel/corners-sprite.gif) no-repeat 0 bottom;padding-left:6px;zoom:1;}

.x-panel-br{background:transparent url(../images/default/panel/corners-sprite.gif) no-repeat right bottom;padding-right:6px;zoom:1;}

.x-panel-mc{
	border:0 none;
	padding:0;
	margin:0;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	padding-top:6px;
	background:#dfe8f6;
}

.x-panel-mc .x-panel-body{background:transparent;border:0 none;}

.x-panel-ml{background:#fff url(../images/default/panel/left-right.gif) repeat-y 0 0;padding-left:6px;zoom:1;}

.x-panel-mr{background:transparent url(../images/default/panel/left-right.gif) repeat-y right 0;padding-right:6px;zoom:1;}

.x-panel-bc .x-panel-footer{padding-bottom:6px;}

.x-panel-nofooter .x-panel-bc,.x-panel-nofooter .x-window-bc{height:6px;font-size:0;line-height:0;}

.x-panel-bwrap{overflow:hidden;zoom:1;left:0;top:0;}

.x-panel-body{overflow:hidden;zoom:1;}

.x-panel-collapsed .x-resizable-handle{display:none;}

.ext-gecko .x-panel-animated div{overflow:hidden!important;}

.x-plain-body{overflow:hidden;}

.x-plain-bbar .x-toolbar{overflow:hidden;padding:2px;}

.x-plain-tbar .x-toolbar{overflow:hidden;padding:2px;}

.x-plain-bwrap{overflow:hidden;zoom:1;}

.x-plain{overflow:hidden;}


/* --- override x-toolbar styles 
----------------------------------------------------------------------------------------- */

.widgetContents .x-toolbar{
	border-color:#ffffff;
	border-style:solid;
	border-width:0 0 0px 0;
	display:block;
	padding:2px;
	/* background:#d0def0 url(../../js-lib/ext-3.2.1/resources/images/default/toolbar/bg.gif) repeat-x top left; */
	background-image:none;
	background-color:#ffffff;
	position:relative;
	zoom:1;
}




/* --- override x-grid3 styles 
----------------------------------------------------------------------------------------- */

.x-grid3{position:relative;overflow:hidden;background-color:#fff;}

.x-grid-panel .x-panel-body{overflow:hidden!important;}

.x-grid-panel .x-panel-mc .x-panel-body{border:1px solid #99bbe8;}

.x-grid3 table{table-layout:fixed;}

.x-grid3-viewport{overflow:hidden;}

.x-grid3-hd-row td,.x-grid3-row td,.x-grid3-summary-row td{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	-moz-outline:none;
	-moz-user-focus:normal;
}

.x-grid3-row td,.x-grid3-summary-row td{line-height:13px;vertical-align:top;padding-left:1px;padding-right:1px;-moz-user-select:none;}

.x-grid3-hd-row td{line-height:15px;vertical-align:middle;border-left:1px solid #eee;border-right:1px solid #d0d0d0;}

.x-grid3-hd-row .x-grid3-marker-hd{padding:3px;}

.x-grid3-row .x-grid3-marker{padding:3px;}

.x-grid3-cell-inner,.x-grid3-hd-inner{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;padding:3px 3px 3px 5px;white-space:nowrap;}

.x-grid3-hd-inner{position:relative;cursor:inherit;padding:4px 3px 4px 5px;}

.x-grid3-row-body{white-space:normal;}

.x-grid3-body-cell{-moz-outline:0 none;outline:0 none;}

.ext-ie .x-grid3-cell-inner,.ext-ie .x-grid3-hd-inner{width:100%;}

.ext-strict .x-grid3-cell-inner,.ext-strict .x-grid3-hd-inner{width:auto;}

.x-grid-row-loading{background:#fff url(../images/default/shared/loading-balls.gif) no-repeat center center;}

.x-grid-page{overflow:hidden;}

.x-grid3-row{cursor:default;border:1px solid #ededed;border-top-color:#fff;width:100%;}

.x-grid3-row-alt{background-color:#fafafa;}

.x-grid3-row-over{border:1px solid #ddd;background:#efefef url(../images/default/grid/row-over.gif) repeat-x left top;}

.x-grid3-resize-proxy{width:1px;left:0;background-color:#777;cursor:e-resize;cursor:col-resize;position:absolute;top:0;height:100px;overflow:hidden;visibility:hidden;border:0 none;z-index:7;}

.x-grid3-resize-marker{width:1px;left:0;background-color:#777;position:absolute;top:0;height:100px;overflow:hidden;visibility:hidden;border:0 none;z-index:7;}

.x-grid3-focus{position:absolute;left:0;top:0;width:1px;height:1px;line-height:1px;font-size:1px;-moz-outline:0 none;outline:0 none;-moz-user-select:text;-khtml-user-select:text;}

.x-grid3-header{
	/* background:#f9f9f9 url(../images/default/grid/grid3-hrow.gif) repeat-x 0 bottom; */
	background-image:none;
	background-color:#e5e5e5;  /* color behind panel header(Channel Subscriptions) and similar */
	cursor:default;
	zoom:1;
	padding:1px 0 0 0;
}

.x-grid3-header-pop{border-left:1px solid #d0d0d0;float:right;clear:none;}

.x-grid3-header-pop-inner{border-left:1px solid #eee;width:14px;height:19px;background:transparent url(../images/default/grid/hd-pop.gif) no-repeat center center;}

.ext-ie .x-grid3-header-pop-inner{width:15px;}

.ext-strict .x-grid3-header-pop-inner{width:14px;}

.x-grid3-header-inner{overflow:hidden;zoom:1;float:left;}

.x-grid3-header-offset{padding-left:1px;width:10000px;}

td.x-grid3-hd-over,td.sort-desc,td.sort-asc,td.x-grid3-hd-menu-open{border-left:1px solid #aaccf6;border-right:1px solid #aaccf6;}

td.x-grid3-hd-over .x-grid3-hd-inner,td.sort-desc .x-grid3-hd-inner,td.sort-asc .x-grid3-hd-inner,td.x-grid3-hd-menu-open .x-grid3-hd-inner{
	/* background:#ebf3fd url(../images/default/grid/grid3-hrow-over.gif) repeat-x left bottom; */
	background-image:none;
	background-color:#e5e5e5; /* color behind active channels header and similar */
}

.x-grid3-sort-icon{background-repeat:no-repeat;display:none;height:4px;width:13px;margin-left:3px;vertical-align:middle;}

.sort-asc .x-grid3-sort-icon{
	background-image:url(../images/grid/sort_asc.gif);
	display:inline;
}

.sort-desc .x-grid3-sort-icon{
	background-image:url(../images/grid/sort_desc.gif);
	display:inline;
}

.ext-strict .ext-ie .x-grid3-header-inner{position:relative;}

.ext-strict .ext-ie6 .x-grid3-hd{position:relative;}

.ext-strict .ext-ie6 .x-grid3-hd-inner{position:static;}

.x-grid3-body{zoom:1;}

.x-grid3-scroller{overflow:auto;zoom:1;position:relative;}

.x-grid3-cell-text,.x-grid3-hd-text{display:block;padding:3px 5px 3px 5px;-moz-user-select:none;-khtml-user-select:none;color:black;}

.x-grid3-split{background-image:url(../images/default/grid/grid-split.gif);background-position:center;background-repeat:no-repeat;cursor:e-resize;cursor:col-resize;display:block;font-size:1px;height:16px;overflow:hidden;position:absolute;top:2px;width:6px;z-index:3;}

.x-grid3-hd-text{color:#15428b;}

.x-dd-drag-proxy .x-grid3-hd-inner{background:#ebf3fd url(../images/default/grid/grid3-hrow-over.gif) repeat-x left bottom;width:120px;padding:3px;border:1px solid #aaccf6;overflow:hidden;}

.col-move-top,.col-move-bottom{width:9px;height:9px;position:absolute;top:0;line-height:1px;font-size:1px;overflow:hidden;visibility:hidden;z-index:20000;}

.col-move-top{background:transparent url(../images/default/grid/col-move-top.gif) no-repeat left top;}

.col-move-bottom{background:transparent url(../images/default/grid/col-move-bottom.gif) no-repeat left top;}

.x-grid3-row-selected{
	background:#e5e5e5!important;border:1px dotted #4f4f4f;
}

.x-grid3-cell-selected{background-color:#B8CFEE!important;color:black;}

.x-grid3-cell-selected span{color:black!important;}

.x-grid3-cell-selected .x-grid3-cell-text{color:black;}

.x-grid3-locked td.x-grid3-row-marker,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker{background:#ebeadb url(../images/default/grid/grid-hrow.gif) repeat-x 0 bottom!important;vertical-align:middle!important;color:black;padding:0;border-top:1px solid white;border-bottom:none!important;border-right:1px solid #6fa0df!important;text-align:center;}

.x-grid3-locked td.x-grid3-row-marker div,.x-grid3-locked .x-grid3-row-selected td.x-grid3-row-marker div{padding:0 4px;color:#15428b!important;text-align:center;}

.x-grid3-dirty-cell{background:transparent url(../images/default/grid/dirty.gif) no-repeat 0 0;}

.x-grid3-topbar,.x-grid3-bottombar{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	overflow:hidden;
	display:none;
	zoom:1;
	position:relative;
}

.x-grid3-topbar .x-toolbar{border-right:0 none;}

.x-grid3-bottombar .x-toolbar{border-right:0 none;border-bottom:0 none;border-top:1px solid #a9bfd3;}

.x-props-grid .x-grid3-cell{padding:1px;}

.x-props-grid .x-grid3-td-name .x-grid3-cell-inner{background:transparent url(../images/default/grid/grid3-special-col-bg.gif) repeat-y -16px!important;padding-left:12px;color:black!important;}

.x-props-grid .x-grid3-body .x-grid3-td-name{padding:1px;padding-right:0;background:white!important;border:0 none;border-right:1px solid #eee;}

.xg-hmenu-sort-asc .x-menu-item-icon{background-image:url(../images/default/grid/hmenu-asc.gif);}

.xg-hmenu-sort-desc .x-menu-item-icon{background-image:url(../images/default/grid/hmenu-desc.gif);}

.xg-hmenu-lock .x-menu-item-icon{background-image:url(../images/default/grid/hmenu-lock.gif);}

.xg-hmenu-unlock .x-menu-item-icon{background-image:url(../images/default/grid/hmenu-unlock.gif);}

.x-grid3-col-dd{border:0 none;padding:0;background:transparent;}

.x-dd-drag-ghost .x-grid3-dd-wrap{padding:1px 3px 3px 1px;}

.x-grid3-hd{-moz-user-select:none;}

.x-grid3-hd-btn{
	display:none;
	position:absolute;
	width:14px;
	background:transparent url(../images/grid/grid3-hd-btn.gif) no-repeat left center;
	right:0;
	top:0;
	z-index:2;
	cursor:pointer;
}

.x-grid3-hd-over .x-grid3-hd-btn,.x-grid3-hd-menu-open .x-grid3-hd-btn{display:block;}

a.x-grid3-hd-btn:hover{background-position:-14px center;}

.x-grid3-body .x-grid3-td-expander{background:transparent url(../images/default/grid/grid3-special-col-bg.gif) repeat-y right;}

.x-grid3-body .x-grid3-td-expander .x-grid3-cell-inner{padding:0!important;height:100%;}

.x-grid3-row-expander{width:100%;height:18px;background-position:4px 2px;background-repeat:no-repeat;background-color:transparent;background-image:url(../images/default/grid/row-expand-sprite.gif);}

.x-grid3-row-collapsed .x-grid3-row-expander{background-position:4px 2px;}

.x-grid3-row-expanded .x-grid3-row-expander{background-position:-21px 2px;}

.x-grid3-row-collapsed .x-grid3-row-body{display:none!important;}

.x-grid3-row-expanded .x-grid3-row-body{display:block!important;}

.x-grid3-body .x-grid3-td-checker{background:transparent url(../images/default/grid/grid3-special-col-bg.gif) repeat-y right;}

.x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner,.x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner{padding:0!important;height:100%;}

.x-grid3-row-checker,.x-grid3-hd-checker{width:100%;height:18px;background-position:2px 2px;background-repeat:no-repeat;background-color:transparent;background-image:url(../images/default/grid/row-check-sprite.gif);}

.x-grid3-row .x-grid3-row-checker{background-position:2px 2px;}

.x-grid3-row-selected .x-grid3-row-checker,.x-grid3-hd-checker-on .x-grid3-hd-checker{background-position:-23px 2px;}

.x-grid3-hd-checker{background-position:2px 3px;}

.x-grid3-hd-checker-on .x-grid3-hd-checker{background-position:-23px 3px;}

.x-grid3-body .x-grid3-td-numberer{background:transparent url(../images/default/grid/grid3-special-col-bg.gif) repeat-y right;}

.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner{padding:3px 5px 0 0!important;text-align:right;color:#444;}

.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer,.x-grid3-body .x-grid3-row-selected .x-grid3-td-checker,.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander{background:transparent url(../images/default/grid/grid3-special-col-sel-bg.gif) repeat-y right;}

.x-grid3-body .x-grid3-check-col-td .x-grid3-cell-inner{padding:1px 0 0 0!important;}

.x-grid3-check-col{width:100%;height:16px;background-position:center center;background-repeat:no-repeat;background-color:transparent;background-image:url(../images/default/menu/unchecked.gif);}

.x-grid3-check-col-on{width:100%;height:16px;background-position:center center;background-repeat:no-repeat;background-color:transparent;background-image:url(../images/default/menu/checked.gif);}

.x-grid-group,.x-grid-group-body,.x-grid-group-hd{zoom:1;}

.x-grid-group-hd{border-bottom:2px solid #99bbe8;cursor:pointer;padding-top:6px;}

.x-grid-group-hd div{background:transparent url(../images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;padding:4px 4px 4px 17px;color:#3764a0;font:bold 11px Verdana, Arial, Helvetica, sans-serif;}

.x-grid-group-collapsed .x-grid-group-hd div{background-position:3px 3px;}

.x-grid-group-collapsed .x-grid-group-body{display:none;}

.x-group-by-icon{background-image:url(../images/default/grid/group-by.gif);}

.x-cols-icon{background-image:url(../images/default/grid/columns.gif);}

.x-show-groups-icon{background-image:url(../images/default/grid/group-by.gif);}

.ext-ie .x-grid3 .x-editor .x-form-text{position:relative;top:-1px;}

.ext-ie .x-props-grid .x-editor .x-form-text{position:static;top:0;}

.x-grid-empty{
	padding:10px;color:gray;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.ext-ie7 .x-grid-panel .x-panel-bbar{position:relative;}

.x-window-mc{
	border:1px solid #99bbe8;
	padding:0;
	margin:0;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	background:#ffffff!important;
}

.x-border-layout-ct{
	background:#ffffff;
}

/* --- override x-btn styles 
----------------------------------------------------------------------------------------- */
.x-btn{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	cursor:pointer;
	white-space:nowrap;
}

.x-btn button{
	border:0 none;
	background:transparent;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#002358!important;
	padding-left:3px;
	padding-right:3px;
	cursor:pointer;
	margin:0;
	overflow:visible;
	width:auto;
	-moz-outline:0 none;
	outline:0 none;
}


* html .ext-ie .x-btn button{width:1px;}

.ext-gecko .x-btn button{padding-left:0;padding-right:0;}

.ext-ie .x-btn button{padding-top:2px;}

.x-btn-icon .x-btn-center .x-btn-text{background-position:center;background-repeat:no-repeat;height:16px;width:16px;cursor:pointer;white-space:nowrap;padding:0;}

.x-btn-icon .x-btn-center{padding:1px;}

.x-btn em{font-style:normal;font-weight:normal;}

.x-btn-text-icon .x-btn-center .x-btn-text {
    background-position: 0 2px;
    background-repeat: no-repeat;
    padding: 0 0 7px 18px;
}

.ext-gecko3 .x-btn-text-icon .x-btn-center .x-btn-text{padding-top:2px;}

.x-btn-left,.x-btn-right{font-size:1px;line-height:1px;}

.x-btn-left{width:3px;height:21px;background:url(../images/default/button/btn-sprite.gif) no-repeat 0 0;}

.x-btn-right{width:3px;height:21px;background:url(../images/default/button/btn-sprite.gif) no-repeat 0 -21px;}

.x-btn-left i,.x-btn-right i{display:block;width:3px;overflow:hidden;font-size:1px;line-height:1px;}

.x-btn-center{background:url(../images/default/button/btn-sprite.gif) repeat-x 0 -42px;vertical-align:middle;text-align:center;padding:0 5px;cursor:pointer;white-space:nowrap;}

.x-btn-over .x-btn-left{background-position:0 -63px;}

.x-btn-over .x-btn-right{background-position:0 -84px;}

.x-btn-over .x-btn-center{background-position:0 -105px; color#ff0000;}

.x-btn-click .x-btn-center,.x-btn-menu-active .x-btn-center{background-position:0 -126px;}

.x-btn-disabled *{color:gray!important;cursor:default!important;}

.x-btn-menu-text-wrap .x-btn-center{padding:0 3px;}

.ext-gecko .x-btn-menu-text-wrap .x-btn-center{padding:0 1px;}

.x-btn-menu-arrow-wrap .x-btn-center{padding:0;}

.x-btn-menu-arrow-wrap .x-btn-center button{width:12px!important;height:21px;padding:0!important;display:block;background:transparent url(../images/default/button/btn-arrow.gif) no-repeat left 3px;}

.x-btn-with-menu .x-btn-center{padding-right:2px!important;}

.x-btn-with-menu .x-btn-center em{display:block;background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat right 0;padding-right:10px;}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em{display:block;background:transparent url(../images/default/toolbar/btn-arrow.gif) no-repeat right 3px;padding-right:10px;}

.x-btn-pressed .x-btn-left{background:url(../images/default/button/btn-sprite.gif) no-repeat 0 -63px;}

.x-btn-pressed .x-btn-right{background:url(../images/default/button/btn-sprite.gif) no-repeat 0 -84px;}

.x-btn-pressed .x-btn-center{background:url(../images/default/button/btn-sprite.gif) repeat-x 0 -126px;}

.x-layout-split {
    background-color: #ededed;
    height: 2px;
    line-height: 2px;
}

