$appConfig-cell-color: #333 !default;
$appConfig-noedit-cell-color: #7D7D7D !default;
$appConfig-divider: #BFBFBF !default;
$appConfig-section-header-color: #055D78 !default;
$appConfig-title-color: #333 !default;
$appConfig-description-color: gray !default;
$appConfig-error-color: red !default;
$appConfig-help-color: gray !default;
$appConfig-menu-item-color: #A7A8AB !default;

$appConfig-cell-background-active: #E5E5E5 !default;
$appConfig-cell-border-hover: #BFBFBF !default;