$dashboard-switcher-header-font-size: 12px !default;

$dashboard-switcher-body-radius: 15px !default;
$dashboard-switcher-background-color: $owf-base-color !default;
$dashboard-switcher-opacity: 0.90 !default;

$dashboard-switcher-dashboard-background-color: $dashboard-switcher-background-color !default;
$dashboard-switcher-dashboard-over-background-color: darken($dashboard-switcher-dashboard-background-color, 15) !default;
$dashboard-switcher-dashboard-selected-background-color: lighten($dashboard-switcher-dashboard-background-color, 10) !default;

$dashboard-switcher-dashboard-border-color: $dashboard-switcher-background-color !default;
$dashboard-switcher-dashboard-over-border-color: $dashboard-switcher-dashboard-over-background-color !default;
$dashboard-switcher-dashboard-selected-border-color: $dashboard-switcher-dashboard-selected-background-color !default;

$dashboard-switcher-dashboard-text-color: getHighContrastColor($dashboard-switcher-dashboard-background-color) !default;
$dashboard-switcher-dashboard-over-text-color: getHighContrastColor($dashboard-switcher-dashboard-over-background-color) !default;
$dashboard-switcher-dashboard-selected-text-color: getHighContrastColor($dashboard-switcher-dashboard-selected-background-color) !default;

$dashboard-switcher-layout-default-icon: theme-image($theme-name, 'dashboardswitcher/DefaultDashboard.png') !default;
$dashboard-switcher-layout-default-icon-over: theme-image($theme-name, 'dashboardswitcher/DefaultDashboard_Color.png') !default;

$dashboard-switcher-layout-stack-default-icon: theme-image($theme-name, 'dashboardswitcher/StacksIcon.png') !default;
$dashboard-switcher-layout-stack-default-icon-over: theme-image($theme-name, 'dashboardswitcher/StacksIcon_Color.png') !default;

$dashboard-switcher-tooltip-heading-color: #acd2ed !default;
$dashboard-switcher-tooltip-label-color: #ababab !default;

$dashboard-switcher-share-color: #6ba6dd !default;
$dashboard-switcher-restore-color: #dd8f08 !default;
$dashboard-switcher-edit-color: #99d460 !default;
$dashboard-switcher-delete-color: #b3292d !default;
