$dashboard-switcher-header-font-size: 12px !default;

$dashboard-width: 90px;
$dashboard-height: 110px;

$dashboard-rows: 3;
$dashboard-columns: 6;

$dashboard-padding-top: 5px;
$dashboard-margin-left: 15px;
$dashboard-margin-right: 15px;
$dashboard-margin-bottom: 5px;

$dashboard-switcher-title-color: #969696;
$dashboard-switcher-descriptor-color: #C1C1C1;
$dashboard-switcher-details-btn-color: #8BFEFF;

$dashboard-mini-slider-dashboard-width: 80px;
$dashboard-mini-slider-dashboard-margin-top: 5px;
$dashboard-mini-slider-dashboard-margin-left: 25px;
$dashboard-mini-slider-dashboard-margin-right: 0px;
$dashboard-mini-slider-height: $dashboard-height + $dashboard-padding-top;
$dashboard-mini-slider-width: 
	($dashboard-mini-slider-dashboard-width + $dashboard-mini-slider-dashboard-margin-left) * 5;

$dashboard-mini-slider-viewport-height: $dashboard-mini-slider-height + $dashboard-padding-top;
$dashboard-mini-slider-viewport-height-ie7: $dashboard-mini-slider-viewport-height + 5px;
$dashboard-mini-slider-body-radius: 3px !default;

$dashboard-switcher-body-radius: 7px !default;
$dashboard-switcher-background-color: $owf-base-color !default;
$dashboard-switcher-opacity: 0.90 !default;

$dashboard-item-body-radius: 5px !default;

$dashboard-switcher-slider-expanded-height-extra: 25px;

$dashboard-switcher-slider-width: 
	($dashboard-width + $dashboard-margin-right + $dashboard-margin-left) * 
	$dashboard-columns;

$dashboard-switcher-slider-height: 
	(($dashboard-height + $dashboard-margin-bottom + $dashboard-padding-top) * $dashboard-rows);

$dashboard-switcher-slider-expanded-height: 
	$dashboard-switcher-slider-height + 
	$dashboard-mini-slider-height + 
	$dashboard-switcher-slider-expanded-height-extra;

$dashboard-switcher-slider-min-height: $dashboard-switcher-slider-height;
$dashboard-switcher-slider-max-height: $dashboard-switcher-slider-expanded-height;

$dashboard-switcher-header-height: 26px;

$dashboard-switcher-dashboard-background-color: $dashboard-switcher-background-color !default;
$dashboard-switcher-dashboard-over-background-color: #323232 !default;
$dashboard-switcher-dashboard-selected-background-color: #272727 !default;

$dashboard-switcher-dashboard-selected-box-shadow-color: black !default;

$dashboard-switcher-dashboard-border-color: $dashboard-switcher-background-color !default;
$dashboard-switcher-dashboard-over-border-color: $dashboard-switcher-dashboard-over-background-color !default;
$dashboard-switcher-dashboard-selected-border-color: $dashboard-switcher-dashboard-selected-background-color !default;

$dashboard-switcher-dashboard-text-color: getHighContrastColor($dashboard-switcher-dashboard-background-color) !default;
$dashboard-switcher-dashboard-over-text-color: getHighContrastColor($dashboard-switcher-dashboard-over-background-color) !default;
$dashboard-switcher-dashboard-selected-text-color: getHighContrastColor($dashboard-switcher-dashboard-selected-background-color) !default;

$dashboard-switcher-layout-default-icon: theme-image($theme-name, 'dashboardswitcher/DashboardIcon64.png') !default;
$dashboard-switcher-layout-default-icon-over: theme-image($theme-name, 'dashboardswitcher/DashboardIcon64.png') !default;

$dashboard-switcher-layout-stack-default-icon: theme-image($theme-name, 'dashboardswitcher/StacksIcon64.png') !default;
$dashboard-switcher-layout-stack-default-icon-over: theme-image($theme-name, 'dashboardswitcher/StacksIcon64.png') !default;

$dashboard-switcher-tooltip-heading-color: #acd2ed !default;
$dashboard-switcher-tooltip-label-color: #ababab !default;

$dashboard-switcher-share-color: #6ba6dd !default;
$dashboard-switcher-restore-color: #dd8f08 !default;
$dashboard-switcher-edit-color: #99d460 !default;
$dashboard-switcher-delete-color: #b3292d !default;
