$dashboard-designer-background-color: #fff !default;
$dashboard-designer-background-image: 'dashboard-designer/background.png' !default;

$dashboard-designer-side-panel-background-color: #ccc !default;
$dashboard-designer-side-panel-border: 1px solid #aaa !default;
$dashboard-designer-side-panel-item-background-color: #aaa !default;

$dashboard-designer-pane-dimensions-background-color: #fff !default;
$dashboard-designer-pane-dimensions-opacity: 0.5 !default;
$dashboard-designer-pane-dimensions-color: #000 !default;
$dashboard-designer-pane-dimensions-text-shadow: 0px 0px 2px #fff !default;
$dashboard-designer-pane-dimensions-border: 3px dotted #ccc !default;

$dashboard-designer-accordion-pane-image: 'dashboard-designer/accordion.png' !default;
$dashboard-designer-accordion-pane-background-color: #ff0000 !default;
$dashboard-designer-accordion-pane-opacity: 0.07 !default;
$dashboard-designer-accordion-pane-ie78-background-color: #ffecec !default;

$dashboard-designer-desktop-pane-image: 'dashboard-designer/desktop.png' !default;
$dashboard-designer-desktop-pane-background-color: #ffff00 !default;
$dashboard-designer-desktop-pane-opacity: 0.1 !default;
$dashboard-designer-desktop-pane-ie78-background-color: #ffffe5 !default;

$dashboard-designer-portal-pane-image: 'dashboard-designer/portal.png' !default;
$dashboard-designer-portal-pane-background-color: #0d8900 !default;
$dashboard-designer-portal-pane-opacity: 0.1 !default;
$dashboard-designer-portal-pane-ie78-background-color: #e6f3e5 !default;

$dashboard-designer-tabbed-pane-image: 'dashboard-designer/tabbed.png' !default;
$dashboard-designer-tabbed-pane-background-color: #0068b1 !default;
$dashboard-designer-tabbed-pane-opacity: 0.1 !default;
$dashboard-designer-tabbed-pane-ie78-background-color: #e5f0f7 !default;

$dashboard-designer-fit-pane-image: 'dashboard-designer/fit.png' !default;
$dashboard-designer-fit-pane-background-color: #9600C8 !default;
$dashboard-designer-fit-pane-opacity: 0.1 !default;
$dashboard-designer-fit-pane-ie78-background-color: #f4e5f9 !default;

$dashboard-designer-drop-shim-background-color: #000 !default;
$dashboard-designer-drop-shim-opacity: 0.3 !default;
$dashboard-designer-drop-shim-ie78-background-color: #b2b2b2 !default;

$dashboard-designer-border: 1px solid black !default;

$active-pane-border-color: red !default;