$owf-usermenu-background-color: #1f3256 !default;
$owf-usermenu-color: #afcefc !default;

$owf-usermenu-item-background-color-hover: #222222 !default;
$owf-usermenu-item-color-hover: #EEEEEE !default;

$owf-usermenu-btn-color: white !default;
$owf-usermenu-btn-background-color-hover: #414141 !default;
$owf-usermenu-btn-background-color: $owf-usermenu-background-color;

$owf-usermenu-item-line-height: 2em !default;

$owf-usermenu-group-header-text-color: $owf-usermenu-color !default;
$owf-usermenu-group-header-hover-color: $owf-usermenu-btn-color !default;