$widgetmenubar-toolbar-background: #242A2C !important;
$widgetmenubar-toolbar-more-icon: url("../../common/images/toolbar/widget-chrome-more.gif") !important;

$widgetmenubar-button-active-border-right: solid 1px #4C4C4C;
$widgetmenubar-button-inactive-border-right: solid 1px #736F6E;
$widgetmenubar-button-text-color: #FFFFFF !important;
$widgetmenubar-button-arrow: url("../../common/images/button/arrow-down.gif");

$widgetmenubar-menu-active-background: none #3A4E54;
$widgetmenubar-menu-background: #242A2C !important;
$widgetmenubar-menu-item-separator-border-top: 1px solid #4C4C4C;
$widgetmenubar-menu-item-separator-background: none #3A4E54;
$widgetmenubar-menu-item-background: #242A2C;
$widgetmenubar-menu-item-text-color: #FFFFFF;
$widgetmenubar-menu-item-text-size: 11px;
$widgetmenubar-menu-item-active-color: none #3A4E54;
$widgetmenubar-menu-item-arrow: url("../../common/images/menu/arrow-right.gif") no-repeat scroll center center transparent;
	
$widgetheader-button-background: (#2A2A2A, #55656D);
$widgetheader-button-inactive-background:(#BABFC3 0%, #F1F2F2 45%, #C9CBCE 50%);
$widgetheader-button-inactive-background-top: (#BABFC3, #BABFC3);
$widgetheader-button-inactive-background-bottom: (#F1F2F2, #F1F2F2);
$widgetheader-button-text: #FFFFFF;
$widgetheader-button-border: #627883;
$widgetheader-button-inactive-border: #7A868C;

$widgetchrome-toolbar-border: #7A868C;
$widgetchrome-toolbar-focus-border: #93E057;