@charset "UTF-8";

/*
    Styles for docked & floating banner
*/

.x-window.dashWindow {
    .x-toolbar {
        @include owf-background-theme-gradient($active_widget_theme);
    }
    .x-panel {
        .x-panel-body {
            overflow-x: hidden !important;
        }
    }
}

#helpWindow {
    .links, iframe {
        border: 1px solid black;
    }
    .helpPanel {
      background-color: $owf-window-background-color;
    }
}

//// Use full banner image when window is 800 px or greater
@media (min-width: 58em)  {
  html {
  .banner {
    .x-box-inner {
      background-image: theme-background-image($theme-name, 'banner/logo.png');
    }

  }  }
}

// Use mini image when window is less than 800 px
@media (max-width: 58em)  {
  html {
  .banner {
    .x-box-inner {
      background-image: theme-background-image($theme-name, 'banner/logo-mini.png');
    }

  }
  }
}

.banner {
    @include owf-background-gradient($banner-background);
    border-width: 1px 0 0px 0;
    padding: 0px;
    border-color: black;

    &, & > .x-box-inner {
        overflow: visible;
    }

    // old class for logo. Now is background image for .x-box-inner
    .logo-img {
        text-align: center;
        height: $banner-button-icon-size;
        //background-image: theme-background-image($theme-name, 'banner/logo.png');
        background: none;
        //background-position: center;
        //background-repeat: no-repeat;
    }

    // This will cause the ext component to use the logo as the background image for the inner div of
    // the banner
    .x-box-inner {

        height: $banner-button-icon-size;
        background-image: theme-background-image($theme-name, 'banner/logo.png');
        background-position: center;
        background-repeat: no-repeat;

    }


    //in here to increase specificity
    .bannerBtn {
        margin: 0px;
        padding: 0 10px 0 10px;
    }

    .x-item-disabled, .x-disabled, .x-btn-disabled, .disable {
    	.x-btn-default-toolbar-banner-large, .x-btn-inner {
    		*color: gray !important;
    	}
    }

    .x-item-disabled, .x-disabled, .x-btn-disabled, .disable{
    	background-color:transparent !important;
    }
}

.x-ie78 {
    .banner {
        filter: none;
    }
}

.x-ie7 {
    .banner {
        z-index: 1;
    }
}

@include extjs-button-ui(
    'default-toolbar-banner-large',

    $color: #ffffff,
    $color-over: #ffffff,
    $color-focus: #ffffff,
    $color-pressed: #ffffff,
    $color-disabled: #ffffff,

    $font-size: $owf-font-size,
    $font-size-over: $owf-font-size,
    $font-size-focus: $owf-font-size,
    $font-size-pressed: $owf-font-size,
    $font-size-disabled: $owf-font-size,

    $font-family: $owf-font-family,
    $font-family-over: $owf-font-family,
    $font-family-focus: $owf-font-family,
    $font-family-pressed: $owf-font-family,
    $font-family-disabled: $owf-font-family,

    $icon-size: $banner-button-icon-size
);

#gripper {
    background-image: $gripper-logo;
    width: $gripper-logo-width;
    height: $gripper-logo-height !important;
    cursor: move;
}

// launch menu button styles
.banner {
    .x-btn-icon {
        //reset to default
        background-position: 0% 0%;
    }
}

.x-btn-default-toolbar-banner-large-over,
.x-btn-default-toolbar-banner-large-pressed {
    @include owf-background-gradient($banner-button-over-background);
}

.x-btn-default-toolbar-banner-large-selected {
    @include owf-background-gradient($banner-button-over-background);
}

.metricBtn {
    .metricBtnIcon {
        background-image: $metric-icon;
    }
    &.x-btn-over {
        .metricBtnIcon {
            background-image: $metric-over-icon;
        }
    }
    &.x-btn-pressed {
        .metricBtnIcon {
            background-image: $metric-pressed-icon;
        }
    }
}

.helpBtn {

    padding-left: 4px !important;
    padding-right: 4px !important;

    .helpBtnIcon {
        background-image: $help-icon;
        background-size: 80%;
        background-position: center;
    }
    &.x-btn-over {
        .helpBtnIcon {
            background-image: $help-over-icon;
            background-size: 80%;
            background-position: center;
        }
    }
    &.x-btn-pressed {
        .helpBtnIcon {
            background-image: $help-pressed-icon;
            background-size: 80%;
            background-position: center;
        }
    }
}

.profileBtn {
    .profileBtnIcon {
        background-image: $profile-icon;
    }
    &.x-btn-over {
        .profileBtnIcon {
            background-image: $profile-over-icon;
        }
    }
    &.x-btn-pressed {
        .profileBtnIcon {
            background-image: $profile-pressed-icon;
        }
    }
}

.banner {
    .x-toolbar-separator {
        background-image: $divider-icon;
        width: $divider-icon-width !important;
        height: $divider-icon-height !important;
        top: 0px !important;
        border-width: 0px !important;
        margin: 0px;
    }
}

#banner-right-container {
    background-color: $banner-button-background;
    border-left: 1px solid $user-menu-button-border-color;
    margin: 0px;
    top: 0px !important; //ext tries to override this at runtime

    height: 100%;

    > * {
        display: inline-block;
    }
}

#userMenuBtn {
    margin-right: 10px;

    .userMenuIcon {
        background-image: $user-menu-icon;
    }
    &.x-btn-over {
        .userMenuIcon {
            background-image: $user-menu-over-icon;
        }
    }
    &.x-btn-pressed {
        .userMenuIcon {
            background-image: $user-menu-pressed-icon;
        }
    }
    .userMenuIcon {
        background-position: center center;
    }

    .x-btn-inner {
        line-height: 32px;
        color: $banner-username-color;

        display: inline;
    }

    .x-btn-icon {
        height: 32px;
        width: 32px;

        display: inline-block;
        vertical-align: top;
    }

    .x-btn-inner, .x-btn-icon {
        position: static;
    }
}

.x-ie7 #userMenuBtn {
    //Ext will try to mess with this
    width: auto !important;

    .x-btn-center, .x-btn-inner {
        width: auto !important;
    }

    .x-btn-center {
        vertical-align: middle;
    }

    .x-btn-inner {
        zoom: 1;
        height: 100%;
    }
}

@mixin round-bottom {
    @include border-bottom-left-radius(10px);
    @include border-bottom-right-radius(10px);
}

#userMenu {
    z-index: 10000004 !important;

    @include round-bottom;
    border: 1px solid $user-menu-border-color;
    border-top-style: none;

    *width: 368px;

    #owfMenu {
        border-right: 1px solid $user-menu-button-border-color;
    }

    #marketplaceMenu {
        border-left: 1px solid $user-menu-button-border-color;
    }

    #owfMenu-body table {
        width: 100% !important;
    }

    #marketplaceMenu-body table {
        width: 100% !important;
    }

	.x-panel-body-default {
		background: none !important;
		border: 1px solid $user-menu-background-color;
	}

	.x-btn-group-default-framed {
    	border: 1px solid $user-menu-background-color;
    	box-shadow: none;
	}

	.x-btn-default-toolbar-small, .x-btn-default-small {
		background-image: none;
        border: none;
        @include border-radius(0);
	}

	.x-btn {
        @include owf-background-color($user-menu-background-color, $owf_css_not_important, false);

		width: 100%;
		border-color: transparent;
		padding-left: 10px;

        .x-btn-inner {
            @include owf-background-color($user-menu-background-color, $owf_css_not_important, false);
            *border-color: transparent;
        }
	}

	.x-btn-over {
		background: none $user-menu-item-over-background-color !important;
		border: none;

        .x-btn-inner {
            background: $user-menu-item-over-background-color !important;
        }
	}

	#userMenu-body {

        .x-menu-icon-separator {
            background: none;
            border-left: 0px none;
        }

        .x-box-inner .x-panel-default {
            border: none !important;
        }

        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        padding: 0px !important;

        #logout.x-over {
            @include border-bottom-radius(8px);
            background: none $owf-logout-color !important;

            .x-btn-inner {
                background: none $owf-logout-color !important;
            }
	    }

	    #owfMenuTitle, #prevLogin, #marketplaceMenuTitle {
	    	background: none !important;
            cursor: default !important;

            .x-btn-inner {
                background: none !important;
                cursor: default !important;
            }
	    }

	    div {

    	    @include owf-background-color($user-menu-background-color);

    	    font-family: tahoma, arial, verdana, sans-serif;
            *width:150px;

            padding-right: 2px;

			span {
	        	color: $user-menu-text-color;
	        	font-weight:normal;
			}

			#owfMenuTitle-btnInnerEl, #marketplaceMenuTitle-btnInnerEl {
		    	font-size: 1.4em;
                font-weight: bold;
		    }

			#prevLogin-btnInnerEl {
				color: $owf-prev-login-text-color !important;
			    font-size: .78em;
			    font-weight: bold;
		    }

	    }

	    //this selector gets the last
	    //item in the list. This item
	    //needs to have rounded borders
	    //to conform to the list borders.
	    //this selector wont work in IE, but
	    //ie doesn't support rounded border anyway
	    > :last-child {
	        @include round-bottom;
	    }

	    .spacer {
            // Adding any padding to the spacer will cause it to grow vertically
	  	    padding: 0px !important;
	        border-style: none;
	        max-height: 1px;
            height: 1px;
            width: 85%;
            margin-left: 1em;
            background-color: $user-menu-separator-color;

            .x-btn-inner {
                background: transparent;
            }
	    }
	}
}

#prevLoginToolTip {
    .x-tip-header, .x-tip-body, .x-form-invalid-tip-body {
        color: $owf-prev-login-text-color;
   }
}


.x-ie {
	#userMenu {
		#userMenu-body {
			div {
				//ie gradient esque fix
    	    	filter: none;

				#owfMenuTitle-btnEl {
                    width: 150px !important;
			    }

			    #marketplaceMenuTitle-btnEl {
                    width: 150px !important;
		    	}

		    	#prevLogin-btnEl {
                    *width: 160px !important;
                }

		    	#prevLogin-btnInnerEl {
                    *font-size: .7em;
                    *width: 160px !important;
                    *margin-left: -5px !important;
			    }
			}
		}
	}
}


@-webkit-keyframes blink {
    20% {
        box-shadow: inset 0 0 10px 1px $owf-focus-color;
    }
    100% {
        box-shadow: none;
    }
}

@-moz-keyframes blink {
    20% {
        box-shadow: inset 0 0 10px 1px $owf-focus-color;
    }
    100% {
        box-shadow: none;
    }
}

@-o-keyframes blink {
    20% {
        box-shadow: inset 0 0 10px 1px $owf-focus-color;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes blink {
    20% {
        box-shadow: inset 0 0 10px 1px $owf-focus-color;
    }
    100% {
        box-shadow: none;
    }
}

.blink {
    $blink-duration: 3200ms;
    -webkit-animation: blink $blink-duration;
    -moz-animation: blink $blink-duration;
    -o-animation: blink $blink-duration;
    animation: blink $blink-duration;
}

.focusTooltip {
    background-color: $owf-focus-color !important;

    .x-tip-body {
        font-size: $owf-font-size;
        color: getHighContrastColor($owf-focus-color) !important;
    }

    .x-tip-anchor-top {
        border-bottom-color: $owf-focus-color !important;
    }
}

.x-ie7 {
    #banner-right-container > * {
        display: inline;
        zoom: 1;
    }
}
