<plugin name='pretty-time' version='0.3' grailsVersion='1.1.1 &gt; *'>
  <author>Cazacu Mihai</author>
  <authorEmail>cazacugmihai@yahoo.com</authorEmail>
  <title>Pretty-time plugin</title>
  <description>A plugin that allows you to display human readable, relative timestamps.</description>
  <documentation>http://grails.org/PrettyTime+Plugin</documentation>
  <resources>
    <resource>org.grails.prettytime.PrettyTimeTagLib</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>