<plugin name='hibernate' version='3.6.10.14' grailsVersion='2.3.2 &gt; *'>
  <author>Graeme Rocher</author>
  <title>Hibernate 3 for Grails</title>
  <description>Provides integration between Grails and Hibernate 3 through GORM</description>
  <type>HibernateGrailsPlugin</type>
  <resources />
</plugin>