<plugin name='codenarc' version='0.20' grailsVersion='1.3 &gt; *'>
  <author>Chris Mair</author>
  <authorEmail>chrismair@users.sourceforge.net</authorEmail>
  <title>CodeNarc plugin</title>
  <description>Runs CodeNarc static analysis rules for Groovy source.</description>
  <documentation>http://grails.org/plugin/codenarc</documentation>
  <type>CodenarcGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codenarc' name='CodeNarc' version='0.20' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>