$appConfig-cell-color: #BFBFBF !default;
$appConfig-noedit-cell-color: #7D7D7D !default;
$appConfig-divider: #BFBFBF !default;
$appConfig-section-header-color: #77a7ef !default;
$appConfig-title-color: #F2F2F2 !default;
$appConfig-error-color: red !default;
$appConfig-menu-item-color: #A7A8AB !default;
$appConfig-help-color: #A7A8AB !default;
$appConfig-description-color: #A7A8AB !default;

$appConfig-cell-background-active: #4D4D4D !default;
$appConfig-cell-border-hover: #BFBFBF !default;

$appConfig-store-btn-color: #B8D413 !default;
$appConfig-store-btn-color-hover: #0D182C !default;
$appConfig-store-btn-bg-color: #1F3256 !default;
$appConfig-store-btn-bg-color-hover: #D3E471 !default;
$appConfig-store-btn-bg-color-selected: #8A9F0E !default;
$appConfig-store-btn-border-color: #070C16 !default;
$appConfig-store-btn-border-color-hover: #5C6814 !default;