$store-wizard-modal-color: #1f3256 !default;
$store-wizard-background-color: #1F3256 !default;
$store-wizard-title-color: #81B3FF !default;
$store-wizard-step-color: #BED8FD !default;

$store-wizard-input-color: #263D65 !default;
$store-wizard-input-border-color: #0D182C !default;

$store-wizard-button-color: #1f3256 !default;
$store-wizard-button-hover-color: #D3E471 !default;
$store-wizard-button-press-color: #8A9F0E !default;

$store-wizard-button-text-press-color: #0D182C;
$store-wizard-button-next-color: #B8D413 !default;
$store-wizard-unreached-step-color: #3B5C8F !default;

$store-wizard-input-text-color: #D8E8FE !default;

$store-wizard-progress-bar-back-color: #0D182C !default;
$store-wizard-progress-bar-front-color:#81B3FF !default;

$store-wizard-title-divide-color: #070C16 !default;
$store-wizard-current-progress-color: #0D182C !default;
$store-wizard-current-progress-text-color: #B8D413 !default; 
