<plugin name='aml-commons-appconfig' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/aml-commons-appconfig</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ozoneplatform.appconfig.server.domain.model.ApplicationConfiguration</resource>
    <resource>org.ozoneplatform.appconfig.server.persistence.impl.ApplicationConfigurationHibernateRepositoryImpl</resource>
    <resource>org.ozoneplatform.appconfig.server.service.impl.ApplicationConfigurationServiceImpl</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>