.appcomponents-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 500px;
    color: #fff;
    background: #222;

    .header {
        padding: 0.5em 0;
        margin: 0 0 0 0.5em;
    }
}