.bx-viewport {
    width: auto !important;
    margin: 0 60px;

    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.appcomponents-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .body {
        height: 102px;
    }

    .bx-viewport {
        background: $widget-launcher-background-color;
        border: 0px;
        @include box-shadow(none);
    }

    .bx-loading {
        background-color: $widget-launcher-background-color;
        background-image: theme-image($theme-name, 'OWF-Spinner.gif');
    }
}

.widget {
    background-color: $widget-launcher-background-color;
    border-color: $widget-launcher-background-color;
    float: left;
    cursor: pointer;
    

    .thumb-text {
        color: $widget-launcher-widget-text-color;
    }

    &:hover {
        background-color: $widget-launcher-widget-over-background-color;
        border-color: $widget-launcher-widget-over-border-color;

        .thumb-text {
            color: $widget-launcher-widget-over-text-color;
        }
    }
}

.widget.selected {
    background-color: $widget-launcher-widget-selected-background-color;
    border-color: $widget-launcher-widget-selected-border-color;
    .thumb-text {
        color: $widget-launcher-widget-selected-text-color;
    }
}

.widget-disabled {
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";*/
    /*filter: alpha(opacity=40);*/
    /*opacity: 0.4;  */
    @include opacity(.4);
}

.intents-window {
    width: 560px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -280px;

    .body {
        margin: 0 1em 0 1em;
    }

    .remember {
        margin-left: 5px;
    }
}

.appcomponents-menu, .intents-window {
    color: #fff;
    background: $widget-launcher-background-color;

    .header, .footer {
        padding: 0.5em 0;
        margin: 0 1em 0 1em;
        line-height: 2em;

        span {
            font-weight: bold;
        }
    }

    .search-input, .x-tool {
        float: right;
    }

    .x-tool {
        margin: 0 0 0 5px;

        &:hover .x-tool-close {
            background-position: -19px 0;
        }
    }

    .x-tool-close {
        vertical-align: middle;
    }

    .body {
        overflow: hidden;
    }
}
