@charset "UTF-8";

/*
    Styles for docked & floating banner
*/

.x-window.dashWindow {
    .x-toolbar {
        @include owf-background-theme-gradient($active_widget_theme);
    }
    .x-panel {
        .x-panel-body {
            overflow-x: hidden !important;
        }
    }
}

#helpWindow {
    .links, iframe {
        border: 1px solid black;
    }
    .helpPanel {
      background-color: $owf-window-background-color;
    }
}

.banner {
    @include owf-background-gradient($banner-background);
    border-width: 1px 0 1px 0;
    padding: 0px;
    border-color: black;

    .logo-img {
        text-align: center;
        height: $banner-button-icon-size;
        background-image: theme-background-image($theme-name, 'banner/logo.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    //in here to increase specificity
    .bannerBtn {
        margin: 0px;
        padding: 0 6px;
        @include border-radius(3px);
    }
}

.x-ie78 {
    .banner {
        filter: none;
    }
}


/*#popOutBanner {*/
    /*z-index: 100000000000 !important;*/
/*}*/

@include extjs-button-ui(
    'default-toolbar-launchmenu-banner-large',
    
    $color: #ffffff,
    $color-over: $banner-button-text-color,
    $color-focus: #ffffff,
    $color-pressed: #ffffff,
    $color-disabled: #ffffff,
    
    $font-size: $owf-font-size,
    $font-size-over: $owf-font-size,
    $font-size-focus: $owf-font-size,
    $font-size-pressed: $owf-font-size,
    $font-size-disabled: $owf-font-size,
    
    $font-family: $owf-font-family,
    $font-family-over: $owf-font-family,
    $font-family-focus: $owf-font-family,
    $font-family-pressed: $owf-font-family,
    $font-family-disabled: $owf-font-family,

    $icon-size: $banner-button-icon-size
);

@include extjs-button-ui(
    'default-toolbar-banner-large',
    
    $color: #ffffff,
    $color-over: $banner-button-text-color,
    $color-focus: #ffffff,
    $color-pressed: #ffffff,
    $color-disabled: #ffffff,
    
    $font-size: $owf-font-size,
    $font-size-over: $owf-font-size,
    $font-size-focus: $owf-font-size,
    $font-size-pressed: $owf-font-size,
    $font-size-disabled: $owf-font-size,
    
    $font-family: $owf-font-family,
    $font-family-over: $owf-font-family,
    $font-family-focus: $owf-font-family,
    $font-family-pressed: $owf-font-family,
    $font-family-disabled: $owf-font-family,

    $icon-size: $banner-button-icon-size
);

#gripper {
    background-image: $gripper-logo;
    width: $gripper-logo-width;
    height: $gripper-logo-height !important;
    cursor: move;
}

#popout_logo {
    background-image: $banner-popout-logo;
    width: $banner-popout-logo-width;
    height: $banner-popout-logo-height !important;
    cursor: move;
}

// launch menu button styles
.banner {
    .x-btn-icon {
        //reset to default
        background-position: 0% 0%;
    }

    /*.launchMenuBtn {*/
        /*//height: 32px;*/
        /*padding-left: 2px;*/
        /*padding-right: 2px;*/

        /*button {*/
            /*width: $launch-menu-icon-width !important; //override important ext style*/
         /*//   height: 32px;*/
        /*}*/
        /*.launchMenuBtnIcon {*/
            /*width: $launch-menu-icon-width;*/
            /*//height: 32px;*/

        /*}*/
    /*}*/
}


.x-btn-default-toolbar-launchmenu-banner-large {
    .launchMenuBtnIcon {
        background-image: $launch-menu-icon;
    }
   // @include owf-background-gradient($launch-menu-button-background-colors);
}
.x-btn-default-toolbar-launchmenu-banner-large-over {
    .launchMenuBtnIcon {
        background-image: $launch-menu-over-icon;
    }
    @include owf-background-gradient($banner-button-over-background);
}
.x-btn-default-toolbar-launchmenu-banner-large-pressed {
    .launchMenuBtnIcon {
        background-image: $launch-menu-pressed-icon;
    }
//    @include owf-background-gradient($launch-menu-button-pressed-background-colors);
}

.x-btn-default-toolbar-banner-large-over {
    @include owf-background-gradient($banner-button-over-background);
}

.dashMenuBtn {
    .dashMenuBtnIcon {
        background-image: $dashboard-icon;
    }
    &.x-btn-over {
        .dashMenuBtnIcon {
            background-image: $dashboard-over-icon;
        }
    }
    &.x-btn-pressed {
        .dashMenuBtnIcon {
            background-image: $dashboard-over-icon;
        }
    }
}

.marketBtn {
    .marketplaceBtnIcon {
        background-image: $mp-icon;
    }
    &.x-btn-over {
        .marketplaceBtnIcon {
            background-image: $mp-over-icon;
        }
    }
    &.x-btn-pressed {
        .marketplaceBtnIcon {
            background-image: $mp-pressed-icon;
        }
    }
}

.metricBtn {
    .metricBtnIcon {
        background-image: $metric-icon;
    }
    &.x-btn-over {
        .metricBtnIcon {
            background-image: $metric-over-icon;
        }
    }
    &.x-btn-pressed {
        .metricBtnIcon {
            background-image: $metric-pressed-icon;
        }
    }
}

.settingsBtn {
    .settingsBtnIcon {
        background-image: $settings-icon;
    }
    &.x-btn-over {
        .settingsBtnIcon {
            background-image: $settings-over-icon;
        }
    }
    &.x-btn-pressed {
        .settingsBtnIcon {
            background-image: $settings-pressed-icon;
        }
    }
}

.adminBtn {
    .adminBtnIcon {
        background-image: $admin-icon;
    }
    &.x-btn-over {
        .adminBtnIcon {
            background-image: $admin-over-icon;
        }
    }
    &.x-btn-pressed {
        .adminBtnIcon {
            background-image: $admin-pressed-icon;
        }
    }
}

.helpBtn {
    .helpBtnIcon {
        background-image: $help-icon;
    }
    &.x-btn-over {
        .helpBtnIcon {
            background-image: $help-over-icon;
        }
    }
    &.x-btn-pressed {
        .helpBtnIcon {
            background-image: $help-pressed-icon;
        }
    }
}

.profileBtn {
    .profileBtnIcon {
        background-image: $profile-icon;
    }
    &.x-btn-over {
        .profileBtnIcon {
            background-image: $profile-over-icon;
        }
    }
    &.x-btn-pressed {
        .profileBtnIcon {
            background-image: $profile-pressed-icon;
        }
    }
}
#popOutBannerBtn, #popInBannerBtn {
    background: none !important;
    filter: none !important;
    button {
        width: 15px !important;
    }
}

#popOutBannerBtn {
    .popOutBannerBtnIcon {
        background-image: $popout-icon;
        width: 100%;
    }
    &.x-btn-over {
        .popOutBannerBtnIcon {
            background-image: $popout-over-icon;
        }
    }
    &.x-btn-pressed {
        .popOutBannerBtnIcon {
            background-image: $popout-pressed-icon;
        }
    }
}

#popInBannerBtn {
    .popInBannerBtnIcon {
        background-image: $popin-icon;
        width: 100%;
    }
    &.x-btn-over {
        .popInBannerBtnIcon {
            background-image: $popin-over-icon;
        }
    }
    &.x-btn-pressed {
        .popInBannerBtnIcon {
            background-image: $popin-pressed-icon;
        }
    }
}

.banner {
    .x-toolbar-separator {
        background-image: $divider-icon;
        width: $divider-icon-width !important;
        height: $divider-icon-height !important;
        top: 0px !important;
        border-width: 0px !important;
        margin: 0px;
    }
}

#userMenuBtn {
    @include owf-background-gradient($banner-button-background);
    border-left: 1px solid $user-menu-button-border-color;
    margin: 0px;
    top: 0px !important; //ext tries to override this at runtime

    padding-left: 10px;
    padding-right: 10px;

    .userMenuIcon {
        background-image: $user-menu-icon;
    }
    &.x-btn-over {
        .userMenuIcon {
            background-image: $user-menu-over-icon;
        }
    }
    &.x-btn-pressed {
        .userMenuIcon {
            background-image: $user-menu-pressed-icon;
        }
    }
    .userMenuIcon {
        background-position: center center;
    }
}

#userMenu {
    @mixin round-bottom {
        @include border-bottom-left-radius(10px);
        @include border-bottom-right-radius(10px);
    }

    height: auto;
    @include owf-background-color($user-menu-background-color);
    @include round-bottom;
    color: $user-menu-text-color;
    font-family: tahoma, arial, verdana, sans-serif;
    width: 16em;
    overflow: hidden;
    z-index: 100000000;
    
    margin-top: 8px;
    margin-bottom: 8px;

    li {
        padding: 10px;
        padding-left: 15px;
        color: $user-menu-text-color;
        line-height: 1.5;

        &.over, &.x-focus {
            @include owf-background-color($user-menu-item-over-background-color);
        }
        &.over {
            cursor: pointer;
        }
        &.x-focus {
            //no yellow borders here
            border-style: none !important;
        }

        &#prevLogin {
            color: $owf-prev-login-text-color;
            font-size: .8em;
            font-weight: bold;
        }
        
        //it would be cleaner to do this with ids 
        //(as in #logout.over), but IE doesn't
        //support that
        &.logout-over, &.logout-focus {
            @include owf-background-color($owf-logout-color);
        }
    }

    //this selector gets the last 
    //item in the list. This item
    //needs to have rounded borders
    //to conform to the list borders.
    //this selector wont work in IE, but
    //ie doesn't support rounded border anyway
    > :last-child {
        @include round-bottom;
    }

    hr {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-style: none;
        height: 1px;
        background-color: $user-menu-text-color;
        background: -webkit-linear-gradient(right, 
            rgba($user-menu-text-color, 0), 
            rgba($user-menu-text-color, .4), 
            rgba($user-menu-text-color, 0));

        background: -moz-linear-gradient(right, 
            rgba($user-menu-text-color, 0), 
            rgba($user-menu-text-color, .4), 
            rgba($user-menu-text-color, 0));

    }

}

#prevLoginToolTip {
    .x-tip-header, .x-tip-body, .x-form-invalid-tip-body {
        color: $owf-prev-login-text-color;
   }
}


.x-ie {
    #userMenuBtn {
        //include opaque version of background for IE
        @include owf-background-color(nth($banner-button-background, 
            length($banner-button-background)), $owf_css_not_important, false);
    }

    #userMenu {
        @include owf-background-color($user-menu-background-color, $owf_css_not_important, false);

        li {
            //have to trigger IE hasLayout or the logout link doesn't get
            //hover styles at the correct time ...
            zoom: 1;

            &.over, &.x-focus {
                @include owf-background-color($user-menu-item-over-background-color, $owf_css_not_important, false);
            }

            //it would be cleaner to do this with ids 
            //(as in #logout.over), but IE doesn't
            //support that
            &.logout-over, &.logout-focus {
                @include owf-background-color($owf-logout-color);

            }
        }

        hr {
            display: block;
            margin: -4px 3px; //first number needs to be 7 
                            //less than expected because its IE
        }
    }
}
