[class^="icon-"],
[class*=" icon-"] {
    color: $dashboard-switcher-dashboard-text-color;
}

#dashboard-switcher {
    border: 0px;

    &-body {
        @include border-radius($dashboard-switcher-body-radius);
    }

    .x-window-header {
        margin-bottom: 5px;
        width: 100% !important;
        *overflow: hidden;
        *width: 97% !important;
        *margin-bottom: 0px;
        zoom: 1;
        height: $dashboard-switcher-header-height !important;
        
        .x-window-header-text {
			font-size: 24px;
			padding-left: 68px;
            *line-height: 24px;
		}

        .x-window-header-body {
            height: $dashboard-switcher-header-height !important;
            zoom: 1;
        }
    }

    .actions {
        height: auto;
        text-align: left;
        padding-top: 10px;

        ul {
            color: $dashboard-switcher-dashboard-text-color;

            li {
                display: inline-block;
                zoom: 1;
                *display: inline;
                padding: 5px 10px;

                &:hover, &.hover, &.selected {
                    background: $dashboard-switcher-dashboard-over-background-color;
                    color: $dashboard-switcher-dashboard-over-text-color;
                }
            }
        }
        
        // '+' button
        .create-new-dashboard-btn {
        	 float: right;
        }
        
        // 'Discover More in the Store' button
        // 'Create New App' button
        .store-link-btn, .create-link-btn {
        	text-align: left;
        	font-weight: bold;
        	font-size: 10px;

            .store-link-btn-text, .create-link-btn-text {
                display: inline-block;
                width: 140px;
                padding-left: 7px;
                font: {
                    size: 13pt;
                    weight: normal;
                }
            }

            .store-link-btn-img, .create-link-btn-img {
                position: relative;
                width: 20px;
                height: 20px; 
                display: inline-block;
                margin-top: 9px;
                float: left;
            }

            .create-link-btn-text {
                width: 110px;
            }

            .store-link-btn-img {
                background-image: theme-image($theme-name, 'myappswindow/MoreinStore-out.png');

                &:hover, &.hover {
                    background-image: theme-image($theme-name, 'myappswindow/MoreinStore-over.png');                    
                }
            }

            .create-link-btn-img {
                background-image: theme-image($theme-name, 'myappswindow/CreateNewApp-out.png');

                &:hover, &.hover {
                    background-image: theme-image($theme-name, 'myappswindow/CreateNewApp-over.png');
                }
            }
        }
    }

    .dashboard-switcher-descriptor {
        color: $dashboard-switcher-dashboard-text-color;
        bottom: 20px !important;
        position: relative;
        text-align: left;
        padding-top: 10px;
        *padding-top: 0px;
        padding-left: 53px;
    }

    > #dashboard-switcher-body {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .all-dashboards {
        height: auto !important;
        overflow: hidden;

        //necessary for scrolling to work properly in IE7 for some reason
        position: relative;

        zoom: normal;
    }
    
    .x-tool .x-tool-close {
	    background-image: theme-image($theme-name, 'tools/close-out.png') !important;
	}
	
	.x-tool-over .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-over.png') !important;
	     background-position: 0 !important;
	}
	
	.x-tool-pressed .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-down.png') !important;
	     background-position: 0 !important;
	}
}

/**** BEGIN slider styling ****/
#dashboard-switcher
    > #dashboard-switcher-body {

    > .bx-wrapper {
        margin-bottom: 30px !important;
        min-height: $dashboard-switcher-slider-height;
        max-height: $dashboard-switcher-slider-max-height;

        > .bx-viewport {
            @include box-shadow(none);

            background: transparent !important;
            *background: inherit !important;
            border: 0px;
            width: $dashboard-switcher-slider-width !important;
            height: $dashboard-switcher-slider-height;
            min-height: $dashboard-switcher-slider-height !important;

            .bx-slide.expanded {
                height: $dashboard-switcher-slider-expanded-height;
            }

            &.expanded {
                height: $dashboard-switcher-slider-expanded-height !important;
            }
        }

        &.expanded {
            height: $dashboard-switcher-slider-expanded-height !important;
        }
    }

    > .bx-wrapper .bx-pager, > .bx-wrapper .bx-controls-auto {
        bottom: -20px;
        zoom: 1;
        padding-top: 0px;
        *text-align: left;
        *display: inline;

        .bx-pager-item {
            zoom: 1;
            *display: inline;
        }
    }

    > .bx-wrapper {
        .bx-prev {
            left: 10px !important;
            background: theme-image($theme-name, 'myappswindow/carousel_arrows_left-out.png') 0 0 no-repeat !important;
            height: 42px !important;

            &:hover, &.hover {
                background: theme-image($theme-name, 'myappswindow/carousel_arrows_left-over.png') 0 0 no-repeat !important;
            }
        }
        .bx-next {
            right: 4px !important;
            background: theme-image($theme-name, 'myappswindow/carousel_arrows_right-out.png') 0 0 no-repeat !important;
            height: 42px !important;

            &:hover, &.hover {
                background: theme-image($theme-name, 'myappswindow/carousel_arrows_right-over.png') 0 0 no-repeat !important;
            }
        }
    }
}

#dashboard-switcher
    > #dashboard-switcher-body
    > .bx-wrapper
    > .bx-viewport
    > .all-dashboards
    > .bx-slide
    > .stack-dashboards-container {

        > .stack-dashboards {

            > .bx-wrapper {
                min-height: $dashboard-mini-slider-height !important;
                max-height: $dashboard-mini-slider-height !important;
                width: $dashboard-mini-slider-width !important;
                margin-bottom: 30px;

                > .bx-viewport {
                    @include box-shadow(none);

                    background: transparent !important;

                    margin: 0px;

                    border: 0px;

                    width: $dashboard-mini-slider-width !important;

                    height: $dashboard-mini-slider-viewport-height !important;
                    *height: $dashboard-mini-slider-viewport-height-ie7 !important;

                    min-height: $dashboard-mini-slider-viewport-height !important;
                    *min-height: $dashboard-mini-slider-viewport-height-ie7 !important;

                    .dashboard {
                        padding-top: 10px;
                        margin-bottom: 0px;
                        width: 80px;
                    }
                }
            }

            > .bx-wrapper .bx-pager, > .bx-wrapper .bx-controls-auto {
                bottom: -20px;
                zoom: 1;
                *text-align: left;
                *display: inline;

                .bx-pager-item {
                    zoom: 1;
                    *display: inline;
                }
            }

            > .bx-wrapper {
                
                .bx-prev, .bx-prev:hover, .bx-next, .bx-next:hover {
                    top: 65%;
                    background-size: 75% !important;
                    height: 42px !important;
                }

                .bx-prev {
                    left: -63px !important;
                    background-image: theme-image($theme-name, 'myappswindow/carousel_arrows_left-out.png') !important;

                    &:hover, &.hover {
                        background-image: theme-image($theme-name, 'myappswindow/carousel_arrows_left-over.png') !important;
                    }
                }

                .bx-next {
                    right: -70px !important;
                    background-image: theme-image($theme-name, 'myappswindow/carousel_arrows_right-out.png') !important;
                    
                    &:hover, &.hover {
                        background-image: theme-image($theme-name, 'myappswindow/carousel_arrows_right-over.png') !important;
                    }
                }
            }
    }
}
/***** END slider styling  ****/

#dashboard-switcher .dashboard, #dashboard-switcher .stack, .stack.drag-proxy, .dashboard.drag-proxy {
    //For these elements, it is more useful
    //to compute content width not overall box 
    //width, since we are setting width based on
    //its contents
    @include box-sizing(content-box);

    float: left;
    padding-top: $dashboard-padding-top;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    width: $dashboard-width;
    height: $dashboard-height;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    
    .thumb-wrap {
        text-align: center;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        *overflow: hidden;
        
        .thumb {
            height: 64px;
            width: 64px;

            margin-left: auto;
            margin-right: auto;
            
            text-align: center;

            background-repeat: no-repeat;
            background-position: center center;
            background-image: $dashboard-switcher-layout-default-icon;

            &.default {
                background-size: 95%;
            }
        }
    }

    &-name {
        color: $dashboard-switcher-dashboard-text-color;
        height: 15px;
        width: 100%;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &:hover, &.hover {
        @include border-radius($dashboard-item-body-radius);
        background-color: $dashboard-switcher-dashboard-over-background-color !important;

        .dashboard-name {
            color: $dashboard-switcher-dashboard-over-text-color  !important;
        }
    }

    &-selected {
        .dashboard-name {
            color: $dashboard-switcher-dashboard-selected-text-color !important;
            font-weight: bold;
        }
        .thumb {
            background-image: $dashboard-switcher-layout-default-icon-over !important;
        }
    }
}

#dashboard-switcher .dashboard, .dashboard.drag-proxy {
    &:hover, &.hover {
        @include border-radius($dashboard-item-body-radius);
        background-color: darken($dashboard-switcher-dashboard-over-background-color, 10) !important;

        .dashboard-name {
            color: $dashboard-switcher-dashboard-over-text-color !important;
        }
    }
}

#dashboard-switcher .stack, .stack.drag-proxy {
    .thumb {
        background-image: $dashboard-switcher-layout-stack-default-icon !important;
    }
    &.dashboard-selected {
        .thumb {
            background-image: $dashboard-switcher-layout-stack-default-icon-over !important;
        }
    }
}

.stack.drag-proxy, .dashboard.drag-proxy {
    float: none;
    position: absolute;
}

.icon-share {
    &:hover, &.hover {
        color: $dashboard-switcher-share-color;
    }
}

.icon-refresh {
    &:hover, &.hover {
        color: $dashboard-switcher-restore-color;
    }
}

.icon-edit {
    &:hover, &.hover {
        color: $dashboard-switcher-edit-color;
    }
}

.icon-remove {
    &:hover, &.hover {
        color: $dashboard-switcher-delete-color;
    }
}

.dashboard-actions, .stack-actions {
    color: #fff;
    padding: 5px 0px;

        li {
            display: inline-block;
            font-size: 1.5em;
        }
        -webkit-animation-duration: 0.2s;
        -webkit-animation-delay: 1s;
}

.detail-actions {
	padding-top:5px; 
	color: $dashboard-switcher-dashboard-text-color;
    font-size: 11px;
}

.x-ie7 {
    #dashboard-switcher {
        ul.actions li{
            display: inline;
            zoom: 1; 
        }
    }

    .dashboard-actions, .stack-actions {
        li {
            display: inline;
            font-size: 1.5em;
        }
    }
}
.dashboard-actions, .stack-actions {
    li {
        width: 25%;
    }
}

#stacks-or-dashboards {
    overflow: hidden;
}

.stack-dashboards-container {
    clear: both;
    position: relative;
    top: -7px;

    .stack-dashboards {
        background: darken($dashboard-switcher-dashboard-background-color, 10%);
        overflow: hidden;

        .dashboard-switcher-descriptor {
            display: none;
        }
    }
}
.stack-dashboards-anchor-tip {
    position: relative;
    border-width: 10px;
    border-bottom-color: darken($dashboard-switcher-dashboard-background-color, 10%);
}

.itemTip {
	z-index: 79001 !important;
	border-radius: 10px;
	
	 .x-tool .x-tool-close {
	    background-image: theme-image($theme-name, 'tools/close-out.png') !important;
	    right: 5px;
	    position:relative;
	}
	
	.x-tool-over .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-over.png') !important;
	     background-position: 0 !important;
	}
	
	.x-tool-pressed .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-down.png') !important;
	     background-position: 0 !important;
	}
	
	.x-box-inner {
		top:5px !important;
		height: 25px !important;
	}
}

.ozonequicktip {
    width: 300px;
    padding: 0;
	background-color: $widget-launcher-background-color;
	
    .dashboard-tooltip-content {
    	.noIconGivenStack { 
    		background-image: theme-image($theme-name, 'dashboardswitcher/StacksIcon.png'); 
    	}
    	
    	.noIconGivenPage { 
    		background-image: theme-image($theme-name, 'dashboardswitcher/DefaultDashboard.png'); 
    	}
    	
    	.tipIcon {
    		width:64px;
    		height:64px; 
    		margin-right:15px;
    		margin-left: 5%;
    		margin-bottom: 5%;
    		float: left;
    	}
    
        .name {
        	color: $dashboard-switcher-dashboard-text-color;
        	padding-left: 35%;
        	padding-top: 10%;
        	margin-bottom: 0;
        }
        
        ul {
            color: $dashboard-switcher-dashboard-text-color;
			
            li {
                display: inline-block;
                margin: 0 1px;
               	width:55px;
               	height:55px;
               	font-size:.75em;
                background: $dashboard-switcher-dashboard-over-background-color;
                color: $dashboard-switcher-dashboard-over-text-color;
                
                .actionText {
                	text-align:center;
                	 margin-left:auto;
                	 margin-right:auto; 
                	 margin-top: 2px;
                	 font-size:.94em;
    			}

                .createImg {
		        	background-image: theme-image($theme-name, 'myappswindow/CreateNewApp-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:30%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/CreateNewApp-over.png'); 
				    }
		        }
		        
		        .createPageImg {
		        	background-image: theme-image($theme-name, 'myappswindow/CreateNewPage-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:20%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/CreateNewPage-over.png'); 
				    }
		        }
		        
		        .pushImg {
		        	background-image: theme-image($theme-name, 'myappswindow/PushtoStore-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:20%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/PushtoStore-over.png'); 
				    }
		        }
		       
		       	.restoreImg {
		        	background-image: theme-image($theme-name, 'myappswindow/Restore-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:20%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/Restore-over.png'); 
				    }
		        }
		        
		        .editImg {
		        	background-image: theme-image($theme-name, 'myappswindow/Edit-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:20%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/Edit-over.png'); 
				    }
		        }
		        
		        .deleteImg {
		        	background-image: theme-image($theme-name, 'myappswindow/Delete-out.png'); 
		        	display: inline-block;
		        	width:20px;
		        	height:20px;
		        	margin-left:35%;
		        	margin-top:20%;
                	 
		        	&:hover, &.hover {
				        background-image: theme-image($theme-name, 'myappswindow/Delete-over.png'); 
				    }
		        }
		        
		        .imgPageAdjust { 
    				margin-left: 38% !important; 
    				margin-top: 10% !important;
    			}
    			
    			.imgStoreAdjust { 
    				margin-top: 15% !important;
    			}
            }
            
            .liStoreAdjust{
            	width:24.3% !important;
            	font-size: 1em !important;
            }
            
            .liPageAdjust{
            	width:32.6% !important;
            	font-size: 1em !important;
            }
        }
        
        .ulStoreAdjust {
        	padding-top:1.5%;
        }
    }

    label {
        color: $dashboard-switcher-tooltip-label-color;
    }

    h3 {
        color: $dashboard-switcher-tooltip-heading-color;
        font-size: 1.5em;
        margin: 0 0 1.25em 0;
    }

    p {
        font-size: $owf-font-size;
        line-height: 1.5em;
        min-height: 50px;
    }

	.description { 
		width: 285px;
		max-height: 400px;
    	overflow: auto;
	}

    .tip-description {
        line-height: (14/12);
        padding-left: 5%;
    }

    .dashboard-metadata {
        *margin-bottom: 1.5em;
    }
}

.alert-window-widget {
    width: 250px;
}

.premadeLayoutButton {
  margin: 3px 3px 3px 3px;
  height: 49px;
  width: 63px;
  background-position: center;
  padding: 2px;
}

.premadeLayoutButton.selected {
  border-style:solid;
  border-width:2px;
  border-color: #7dc242;
}

.premadeDesktop {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Desktop.png');
  opacity: 25 !important;
}

.premadeFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Fit.png');
}

.premadeTabbed {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Tabbed.png');
}

.premade2ColumnFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-FitBSB.png');
}

.premade2RowFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-FitStack.png');
}

.premade4Fit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_4-Fit.png');
}

.premade2ColumnPortal {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Portal.png');
}

.premadeAccordionFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Accord-Fit.png');
}

.premadeTabbedAccordion {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Tabbed-Accord.png');
}

.premade2RowFitTabbed {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Fit-Tab.png');
}

.premadeAccordion2RowFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_3-Accord-Fit-Fit.png');
}

.premadeTabbed2Fit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_3-Tab-Fit-Fit.png');
}

.premadeButtonInactive {
  opacity: 0.4 !important;
  filter: alpha(opacity=40) !important; /* for ie7 */
  cursor: default !important;
}

[id*="owfCreateDashboardsContainer"], [id*="owfCreateDashboardsContainer"] .x-toolbar, .createAppField input, .createAppField textArea, {
  color: #ffffff;
  background: #2f2f2f;
}

.createAppField input:focus, .createAppField textArea:focus {
  border-color: #a0a9ad;
}

[id*="owfCreateDashboardsContainer"] {

  .empty-text-field {
    color: gray;
    font-style: italic;
  }

  .okbutton{
    background: #7dc242;
  }

  .cancelbutton {
    background: #ababab;
  }

  .x-btn-default-toolbar-small span{
    background-image: none;
    color: #FFFFFF;
    font-size: 14px;
    //font-weight: bold;
    text-shadow: -2px 2px 2px #000000;
  }
}

div.premadeViewRow {
  height: 60px !important;
}

#premadeViewContainer .x-box-inner {
  height: 120px !important;
}

div#premadeViewContainer {
  transition: height .5s;
  -moz-transition: height .5s; /* Firefox 4 */
  -webkit-transition: height .5s; /* Safari and Chrome */
  -o-transition: height .5s; /* Opera */

  &.collapseView {
    height: 0px !important;
  }

  &.expandView {
    height: 120px !important;
  }
}

div#existViewCb {

  transition: height .5s;
  -moz-transition: height .5s; /* Firefox 4 */
  -webkit-transition: height .5s; /* Safari and Chrome */
  -o-transition: height .5s; /* Opera */

  &.collapseView {
    height: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
  }

  &.expandView {
    height: 30px !important;
  }

  input {
    width: 396px !important;
  }
}
