[class^="icon-"],
[class*=" icon-"] {
    color: $dashboard-switcher-dashboard-text-color;
}

#dashboard-switcher {

    width: $dashboard-switcher-width !important;
    height: $dashboard-switcher-height !important;
    
    border: 0px none black;

    &-body {
        @include border-radius($dashboard-switcher-body-radius);
    }

    > .x-window-header {
        margin-bottom: 5px;
        width: 100% !important;
        
        .x-window-header-text {
			font-size: 18px;
			padding-left: 30px;
		}

        .dashboard-switcher-header-icon {
            background-image: theme-image($theme-name, 'dashboardswitcher/switcher_icon.png');
            width: 26px;
            height: 26px;
        }
    }

    .actions {
        height: auto;
        float: right;
        text-align: right;

        ul {
            color: $dashboard-switcher-dashboard-text-color;
            float: right;
            margin-right: 15px;
            text-align: right;

            li {
                display: inline-block;
                padding: 5px 10px;

                &:hover, &.selected {
                    background: $dashboard-switcher-dashboard-over-background-color;
                    color: $dashboard-switcher-dashboard-over-text-color;
                }
            }
        }
        
        .create {
        	 bottom: -45px;
			 left: 35px;
			 position: relative;
        }

        .create-link-text, .store-link-text {
            display: inline-block;
            width: 85px;
            padding-left: 7px;
        }

        .create-link-text {
            width: 60px;
        }
        
        .storeLink {
        	top: 493px; 
        	left: -5px;
        	position: absolute; 
        	text-align: left;
        	font-weight: bold;
        	font-size: 10px;
        }

		.storeImg {
        	background-image: theme-image($theme-name, 'myappswindow/moreInStore.png'); 
        	position: relative;
        	width: 20px;
        	height: 20px; 
            display: inline-block;
            float: left;
        }
        
        .createLink {
        	top: 493px; 
        	left: 160px; 
        	position: absolute; 
        	text-align: left;
        	font-weight: bold;
        	font-size: 10px;
        }
        
        .createImg {
        	background-image: theme-image($theme-name, 'myappswindow/createNewApp.png'); 
        	position: relative;
        	width: 20px;
        	height: 20px; 
            display: inline-block;
            float: left;
        }
        
        .createLinkShift {
       		top: 495px; 
        	left: -20px;
        }
    }

    .dashboard-switcher-descriptor {
        color: $dashboard-switcher-dashboard-text-color;
        bottom: 20px !important;
        position: relative;
        text-align: left;
    }

    #dashboard-switcher-body {
        width: 95% !important;
        height: 90% !important;

        text-align: center;
        margin-left: auto;
        margin-right: auto;

        /**** BEGIN slider styling ****/
        .bx-wrapper {
            // Must be set explicitly to remain constant
            // regardless of how many children per slide in the viewport
            height: 380px !important;
            width: 100% !important;

            .bx-viewport {
                @include box-shadow(none);

                background: transparent !important;
                border: 0px;
                margin-left: 84px;
                margin-right: 75px;
                overflow: hidden;
                width: 480px !important;
                height: 360px !important;
            }
        }
        
        .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    		bottom: -20px;
    	}

        .bx-wrapper {
            .bx-prev {
                left: 0px !important;
            }
            .bx-next {
                right: 0px !important;
            }
        }
        /***** END slider styling  ****/
    }

    .all-dashboards {
        height: auto !important;
        overflow: hidden;

        //necessary for scrolling to work properly in IE7 for some reason
        position: relative;

        zoom: normal;
    }
    
    .x-tool .x-tool-close {
	    background-image: theme-image($theme-name, 'tools/close-out.png') !important;
	}
	
	.x-tool-over .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-over.png') !important;
	     background-position: 0 !important;
	}
	
	.x-tool-pressed .x-tool-close {
	     background-image: theme-image($theme-name, 'tools/close-down.png') !important;
	     background-position: 0 !important;
	}
}

#dashboard-switcher .dashboard, #dashboard-switcher .stack, .stack.drag-proxy, .dashboard.drag-proxy {
    $dashboard-width: 80px;
    $dashboard-height: 120px;

    //For these elements, it is more useful
    //to compute content width not overall box 
    //width, since we are setting width based on
    //its contents
    @include box-sizing(content-box);

    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    width: $dashboard-width;
    height: $dashboard-height;

    .thumb-wrap {
        text-align: center;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        .thumb {
            height: 70px;
            width: 70px;

            margin-left: auto;
            margin-right: auto;
            
            text-align: center;

            background-repeat: no-repeat;
            background-position: center center;
            background-image: $dashboard-switcher-layout-default-icon;
            background-size: 70%;
        }
    }

    &-name {
        color: $dashboard-switcher-dashboard-text-color;
        height: 15px;
        width: 100%;
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
    }
    
    &:hover {
        @include border-top-radius($dashboard-item-body-radius);
        @include border-bottom-radius($dashboard-item-body-radius);

        background-color: $dashboard-switcher-dashboard-over-background-color !important;
        border-color: $dashboard-switcher-dashboard-over-border-color !important;

        .dashboard-name {
            color: $dashboard-switcher-dashboard-over-text-color  !important;
        }
    }

    &-selected {
        .dashboard-name {
            color: $dashboard-switcher-dashboard-selected-text-color !important;
            font-weight: bold;
        }
        .thumb {
            background-image: $dashboard-switcher-layout-default-icon-over !important;
        }
    }
}
#dashboard-switcher .stack, .stack.drag-proxy {
    .thumb {
        background-image: $dashboard-switcher-layout-stack-default-icon !important;
    }
    &.dashboard-selected {
        .thumb {
            background-image: $dashboard-switcher-layout-stack-default-icon-over !important;
        }
    }
}

.stack.drag-proxy, .dashboard.drag-proxy {
    float: none;
    position: absolute;
}

.icon-share {
    &:hover, &.hover {
        color: $dashboard-switcher-share-color;
    }
}

.icon-refresh {
    &:hover, &.hover {
        color: $dashboard-switcher-restore-color;
    }
}

.icon-edit {
    &:hover, &.hover {
        color: $dashboard-switcher-edit-color;
    }
}

.icon-remove {
    &:hover, &.hover {
        color: $dashboard-switcher-delete-color;
    }
}

.dashboard-actions, .stack-actions {
    color: #fff;
    padding: 5px 0px;

        li {
            display: inline-block;
            font-size: 1.5em;
        }
        -webkit-animation-duration: 0.2s;
        -webkit-animation-delay: 1s;
}

.x-ie7 {
    #dashboard-switcher {
        ul.actions li{
            zoom: 1; display: inline;
        }

        .dashboard, .stack{
            margin: 5px auto;
        }
    }
    .dashboard-actions, .stack-actions {
            li {
                display: inline;
                font-size: 1.5em;
            }
    }
}
.dashboard-actions, .stack-actions {
    li {
        width: 25%;
    }
}

#stacks-or-dashboards {
    overflow: hidden;
}

.stack-dashboards {
    clear: both;
    position: relative;
    top: -30px;

    .dashboards {
        background: darken($dashboard-switcher-dashboard-background-color, 10%);
        overflow: hidden;

        .dashboard-switcher-descriptor {
            display: none;
        }
    }
}
.stack-dashboards-anchor-tip {
    position: relative;
    border-width: 20px;
    border-bottom-color: darken($dashboard-switcher-dashboard-background-color, 10%);
}

.ozonequicktip {
    max-width: 720px;

    .dashboard-tooltip-content {
        padding: 1.25em;
    }

    label {
        color: $dashboard-switcher-tooltip-label-color;
    }

    h3 {
        color: $dashboard-switcher-tooltip-heading-color;
        font-size: 1.5em;
        margin: 0 0 1.25em 0;
    }

    p {
        font-size: $owf-font-size;
        line-height: 1.5em;
    }

    .tip-description {
        line-height: (14/12);
        max-width: 720px;
    }

    .dashboard-metadata {
        *margin-bottom: 1.5em;
    }
}

.alert-window-widget {
    width: 250px;
}

.premadeLayoutButton {
  margin: 5px 5px 5px 5px;
  height: 45px;
  width: 59px;
  background-position: center;
}

.premadeLayoutButton.selected {
  border-style:solid;
  border-width:2px;
}

.premadeDesktop {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Desktop.png');
}

.premadeFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Fit.png');
}

.premadeTabbed {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_1-Tabbed.png');
}

.premade2ColumnFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-FitBSB.png');
}

.premade2RowFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-FitStack.png');
}

.premade4Fit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_4-Fit.png');
}

.premade2ColumnPortal {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Portal.png');
}

.premadeAccordionFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Accord-Fit.png');
}

.premadeTabbedAccordion {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Tabbed-Accord.png');
}

.premade2RowFitTabbed {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_2-Fit-Tab.png');
}

.premadeAccordion2RowFit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_3-Accord-Fit-Fit.png');
}

.premadeTabbed2Fit {
  background-image: theme-image($theme-name, 'dashboardswitcher/StockAppLayouts_3-Tab-Fit-Fit.png');
}
