[class^="icon-"],
[class*=" icon-"] {
    color: $dashboard-switcher-dashboard-text-color;
}

#dashboard-switcher {

    width: auto !important;
    height: auto !important;
    padding: 0px;

    &-body {
        overflow: auto;
        @include border-radius($dashboard-switcher-body-radius);
    }

    .dashboard-switcher-header-icon {
        background-image: $dashboard-switcher-header-icon;
        background-repeat: no-repeat;
        background-position: center center;
        height: 26px;
        width: 26px;
    }

    ul.actions {
        clear: both;
        float: right;
        color: #fff;
        margin-right: 15px;
        
        li {
            display: inline-block;
            padding: 5px 10px;

            &:hover, &.selected {
                background: #000;
            }
        }
    }
}

#dashboard-switcher .dashboard, #dashboard-switcher .stack, .dashboard-drag-proxy, .stack-drag-proxy {
    $thumb-width: 73px;
    $name-width: 8.2em;

    //For these elements, it is more useful
    //to compute content width not overall box 
    //width, since we are setting width based on
    //its contents
    @include box-sizing(content-box);

    float: left;
    margin: 10px;
    padding: 15px 15px 0px 15px;
    position: relative;
    text-align:center;
    overflow: hidden;
    cursor: pointer;
    min-width: $name-width;
    max-width: $name-width;
    
    .thumb-wrap {
        text-align: center;
        white-space:nowrap;
        margin-left:auto;
        margin-right:auto;
        width: $thumb-width;
        .thumb {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: $thumb-width;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: $dashboard-switcher-layout-default-icon;
        }
    }

    &-name {
        color: $dashboard-switcher-dashboard-text-color;
        height: 3.25em;
        width: $name-width;
        margin-top: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &:hover {
        background-color: $dashboard-switcher-dashboard-over-background-color !important;
        border-color: $dashboard-switcher-dashboard-over-border-color !important;
        .dashboard-name {
            color: $dashboard-switcher-dashboard-over-text-color  !important;
        }
        @include border-top-radius($dashboard-switcher-body-radius);
        @include border-bottom-radius($dashboard-switcher-body-radius);
        
    }

    &-selected {
        .dashboard-name {
            color: $dashboard-switcher-dashboard-selected-text-color !important;
            font-weight: bold;
        }
        .thumb {
            background-image: $dashboard-switcher-layout-default-icon-over !important;
        }
    }
}
.dashboard-drag-proxy, .stack-drag-proxy {
    float: none;
    position: absolute;
}
.icon-share {
    &:hover, &.hover {
        color: #5252FF;
    }
}

.icon-refresh {
    &:hover, &.hover {
        color: #FD5B00;
    }
}

.icon-edit {
    &:hover, &.hover {
        color: #0f0;
    }
}

.icon-remove {
    &:hover, &.hover {
        color: #f00;
    }
}

.dashboard-actions, .stack-actions {
    color: #fff;
    padding: 5px 0px;

        li {
            display: inline-block;
            font-size: 1.5em;
        }
        -webkit-animation-duration: 0.2s;
        -webkit-animation-delay: 1s;
}

.x-ie78 {
    #dashboard-switcher {
        ul.actions li{
            display: inline;
        }
    }
    .dashboard-actions, .stack-actions {
            li {
                display: inline;
                font-size: 1.5em;
            }
    }
}
.dashboard-actions {
    li {
        width: 25%;
    }
}
.stack-actions {
    li {
        width: 50%;
    }
}

#stacks-or-dashboards {
    overflow: hidden;
}

.stack-dashboards {
    clear: both;
    position: relative;
    top: -30px;

    .dashboards {
        background: #000;
        overflow: hidden;
    }
}
.stack-dashboards-anchor-tip {
    position: relative;
    border-width: 20px;
    border-bottom-color: #000;
}
