.users-tab {
	background-image: theme-image($theme-name, 'admin/user_link.png');
}

.properties-icon {
	background-image: theme-image($theme-name, 'admin/properties_link.png');
}

.properties-body {
	background: none repeat scroll 0 0 white;
}

.editpanel-body {
	background: none repeat scroll 0 0 transparent;
}

.editpanel-toolbar {
	background: none repeat scroll 0 0 white;
}