/*
Document   : jquery.pnotify.default.css (where this code originated from)
Created on : Nov 23, 2009, 3:14:10 PM
Author     : Hunter Perrin
Version    : 1.2.0
Link       : http://pinesframework.org/pnotify/
Description:
    Default styling for Pines Notify jQuery plugin.
*/
/* -- Notice */
.ui-pnotify {
    top: 35px;
    right: 25px;
    position: absolute;
    height: auto;
    /* Ensures notices are above everything */
    z-index: 10000000000;

    .ui-pnotify-shadow {
        -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
        box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    }
}
/* Hides position: fixed from IE6 */
html > body .ui-pnotify {
    position: fixed;
}
.ui-pnotify-container {
    background-color: $notification-container-background-color;
    background-image: none;
    border: none;
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}
.alert-success {
    background-color: $notification-success-background-color;
    border-color: $notification-success-border-color;
    color: $notification-success-text-color;
}
.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-pnotify-closer {
    .icon-remove {
        background-image: $notification-close-icon;
    }
}
.ui-pnotify-sticker {
    .icon-pause {
        background-image: $notification-pin-icon;
    }
    .icon-play {
        background-image: $notification-unpin-icon;
    }
}
.ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
    display: block;

    span {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        height: 17px;
        width: 17px;
        display: block;
    }
}
.ui-pnotify-title {
    font-weight: bold;
    display: block;
    margin-bottom: .4em;
    line-height: 17px;
    min-height: 17px;
}
.ui-pnotify-text {
    display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left;
    margin-right: .2em;
}
.ui-pnotify-icon {
    .icon-ok-sign {
        background-image: $notification-success-icon;
        height: 17px;
        width: 17px;
    }
}
/* -- History Pulldown */
.ui-pnotify-history-container {
    background-color: $notification-history-background-color;
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none;
    padding: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    /* Ensures history container is above notices. */
    z-index: 10000000001;

    .ui-pnotify-history-header {
        padding: 2px;
    }
    button {
        cursor: pointer;
        display: block;
        width: 100%;
    }
    .ui-pnotify-history-pulldown {
        display: block;
        margin: 0 auto;
    }
}
.ui-pnotify.stack-bottomright {
    right: auto;
    top: auto;
}