.profileWindow {
    .userInfo {
        padding: 5px;
        border: 1px solid $owf-toolbar-base-color;

        .x-panel-header-default {
          border: 1px solid $owf-toolbar-base-color;
          background: $owf-toolbar-base-color none;
          box-shadow: none;
        }

        .x-panel-header-text-default {
          font-size: 1.3 * $owf-font-size;
          color: $owf-profileWindow-text-color;
        }

        .x-panel-body-default {
          border-color: $owf-toolbar-base-color;
        }

        table tr td {
          font: $owf-font-family;
          font-size: $owf-font-size;
          color: $owf-profileWindow-text-color;
          padding: 5px 10px 5px 5px;
        }

        .fieldLabel {
          font-weight: bold;
        }

        /*.fieldValue {*/
        /*}*/
    }
}