.widget {
    $default-thumb-size: 64px;

    background: $selectable-item-background-color;
    border: 1px solid $selectable-item-border-color;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 5px;
    position: relative;
    text-align: center;
    @include border-radius(7px);

    .thumb-wrap {
        text-align: center;
        white-space:nowrap;
        margin: auto auto 5px auto;
        position: relative; //to make the singleton icons position be relative to this
        width: $default-thumb-size;
        height: $default-thumb-size;

        .thumb {
            width: 100%;
            height: 100%;
        }
        .singleton-thumb {
            position: absolute;
            width: 20px;
            top: -11px;
            right: -8px;
        }
    }
    .thumb-text {
        color: $selectable-item-text-color;
        font: $owf-font-size $owf-font-family;
        height: 3em;
        width: 6em;
        margin-left: auto;
        margin-right: auto;
    }
}

//IE7 requires manual width management
.x-ie7 .widget {
    $default-thumb-size: 64px;

    //allows width to be easily computed
    //based on contents, not surroundings
    box-layout: content-box;


    width: $default-thumb-size;
    height: $default-thumb-size;
    min-width: 6em;
}
